.container {
	background-color: var(--bgSoft);
	padding: 20px;
	border-radius: 10px;
	margin-top: 20px;
}

.table {
	width: 100%;
}

.table td{
	padding: 10px;
}

.button {
	display: flex;
	padding: 5px 10px;
	border-radius: 5px;
	color: var(--text);
	border: none;
	cursor: pointer;
	background-color: #28424a;
}